<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
     body{
            background-image: url({% static 'image/hompage2.jpg' %});
             background-repeat:no-repeat;
             background-position: left; center;
             background-size:140%;
        }
</style>
<body>
    <h2 style="color:pink">QUIK JOBS FEATURES</h2>

<ul>
  <li style="color:white;font-size:130%;">“Concentrate all your thoughts upon the work in hand. The sun's rays do not burn until brought to a focus. “</li>
    <br>
  <li style="color:white;font-size:130%;">“I’m a greater believer in luck, and I find the harder I work the more I have of it.”</li>
    <br>
    <li style="color:white;font-size:130%;">“When we strive to become better than we are, everything around us becomes better too.”</li>
</ul>

</body>
</html>