<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <style>
     body{
            background-image: url({% static 'image/hompage2.jpg' %});
             background-repeat:no-repeat;
             background-position: left; center;
             background-size:140%;
        }
</style>
<body>
<h1 style="color:pink;text-align:center;">PRICING</h1>
<h3 style="color:white;">A pricing analyst works with complex data examining industry standards and pricing strategies of competitors to help businesses determine and set competitive prices. They study consumer habits to determine how much people are willing to pay for various products and look for patterns in consumer spending.</h3>

</body>
</html>